.post {
   
    border: 1px dotted black;
    padding: 1rem;

    &__header {
        display: flex;
        justify-content: space-between;

        button {
            margin-right: 1rem;
            background: var(--success-color);
        }
    }

   &__info {
       small{
           margin-left: 1rem;
       }
       margin: .5rem 0;
   }

   p{
       padding: 0;
       margin: 0;
   }

}