<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1>Форма создание нового поста</h1>

    <div class="form-control" [ngClass]="{invalid: this.form.get('title').touched && this.form.get('title').invalid}">
        <label>Название поста:</label>
        <input type="text" formControlName="title">

        <div class="validation" *ngIf="this.form.get('title').touched && this.form.get('title').invalid">
            <small *ngIf="this.form.get('title').errors.required">
                Введите название поста
            </small>
        </div>
    </div>

    
    <div class="form-control">
        <label>Текст новой публикации:</label>
        <quill-editor formControlName="text"></quill-editor>
        <div class="validation" *ngIf="this.form.get('text').touched && this.form.get('text').invalid">
            <small *ngIf="this.form.get('text').errors.required">
                Надо написать хоть что-нибудь...
            </small>
        </div>
    </div>

    <div class="form-control" [ngClass]="{invalid: this.form.get('author').touched && this.form.get('author').invalid}">
        <label>Имя автора:</label>
        <input type="text" formControlName="author">

        <div class="validation" *ngIf="this.form.get('author').touched && this.form.get('author').invalid">
            <small *ngIf="this.form.get('author').errors.required">
                Введите имя автора
            </small>
        </div>
    </div>

    <button class="btn btn-block btn-dark"
    [disabled]="form.invalid"
    type="submit"
    >
        Добавить новый пост
    </button>
</form>