<div *ngIf="form; else loading">
    <form [formGroup]="form" (ngSubmit)="submit()">
       
        <div class="form-control"
            [ngClass]="{invalid: this.form.get('title').touched && this.form.get('title').invalid}">
            <label>Название поста:</label>
            <input type="text" formControlName="title">

            <div class="validation" *ngIf="this.form.get('title').touched && this.form.get('title').invalid">
                <small *ngIf="this.form.get('title').errors.required">
                    Введите название поста
                </small>
            </div>
        </div>

        <div class="form-control">
            <quill-editor formControlName="text"></quill-editor>
        </div>

        <button class="btn btn-primary"
        [disabled]="form.invalid || submitted"
        type="submit"
        >
            Обновить
        </button>
    </form>
</div>
<ng-template>
    <p class="text-center">Загрузка...</p>
</ng-template>