<form class="card card-login" [formGroup]="form" (ngSubmit)="onSubmit()">

    <h2>Войти в панель администратора</h2>

    <div class="alert alert-primary" *ngIf="auth.error$ | async as error">
        {{ error }}
    </div>
    
    <div class="alert alert-info" *ngIf="message">
        {{ message }}
    </div>
    
    <div class="form-control" [ngClass]="{invalid: this.form.get('email').touched && this.form.get('email').invalid}">
        <label>email</label>
        <input type="email" formControlName="email">

        <div class="validation" *ngIf="this.form.get('email').touched && this.form.get('email').invalid">
            <small *ngIf="this.form.get('email').errors.required">
                Заполните поле email
            </small>
            <small *ngIf="this.form.get('email').errors.email">
                Поле email должно быть полем email
            </small>
        </div>
    </div>

    <div class="form-control"
        [ngClass]="{invalid: this.form.get('password').touched && this.form.get('password').invalid}">

        <label>password</label>
        <input type="password" formControlName="password">
        <!-- <pre>
            {{this.form.get('password').errors | json}}
        </pre> // для справки-->
        <div class="validation" *ngIf="this.form.get('password').touched && this.form.get('password').invalid">

            <small *ngIf="this.form.get('password').errors.required">Заполните поле password</small>
            <small *ngIf="this.form.get('password').errors.minlength">
                Длина пароля должна быть минимум
                {{this.form.get('password').errors.minlength.requiredLength}}
                символов, сейчас длина пароля
                {{ this.form.get('password').errors.minlength.actualLength }}
            </small>
        </div>

    </div>

    <button class="btn btn-primary" [disabled]="form.invalid || submitted">Отправить</button>


</form>